

<div class="row">
    <h2>Home Page</h2>
    "We created Xamarin because we knew there had to be a better way to build mobile apps. We’re developers, so we know what developers want: a modern programming language, powerful tools, an efficient and delightful workflow and the power to create the best user experiences. We are on a mission to make it fast, easy and fun to build great mobile apps."
    <a href="https://www.xamarin.com/about">-Retrieved here</a>
</div>
