@{
    ViewData["Title"] = "My Mobile Apps";
}

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
    </div>
    <div class="col-lg-12">
        <h3> Android Apps:</h3>
        <ul>
            <li><a href="https://play.google.com/store/apps/details?id=com.magetech.newedh">EDH Life</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.magetech.fwn">Free Word Note</a></li>
        </ul>
       <h3>Android Games:</h3>
        <ul>
            <li><a href="https://play.google.com/store/apps/details?id=com.Magetech.Newfalling">Falling Man</a></li>
        </ul>
        
    </div>

    <div class="col-lg-12">
        <h3>Apple Apps:</h3>
        <ul>
            <li><a href="https://itunes.apple.com/us/app/edh-life/id1193005762?ls=1&mt=8">EDH Life</a></li>
        </ul>
        <h3>Apple Games:</h3>
        <ul>
            <li><a href="https://itunes.apple.com/us/app/magetechfallingman/id1369639117?ls=1&mt=8">Magetech Falling Man</a></li>
        </ul>
    </div>
</div>
